* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    
}
a {
    color: black;
    text-decoration: none;
}
.active {
    text-decoration: underline;
}
.left {
    
}
.left__nav {
    margin-top: 70px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #353535;
    overflow-x: hidden;
    padding-top: 20px;
}
.left__link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    transition: 0.1s;
}
.left__link:hover {
    color: #797979;
}
.content {
    margin-left: 200px;
    margin-top: 70px;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.header {

}
.header__nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    position: fixed;
    top: 0;
    width: 100%;
    
}
.header__logo{
    display: block;
    width: 70px;
    margin-left: 50px;
}
.header__link {     
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}
.header__bar {
    color: #fff;
    display: none;
    cursor: pointer;
}
.header__cross {
    color: #fff;
    display: none;
    cursor: pointer;
}

.header__link-img {
    width: 25px;
    transition: 0.2s;

}
.header__link:hover .header__link-img {
    transform: rotate(90deg);
}
.header__section {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(50, 50, 50);
}
.header__par {
    box-shadow: 2px 2px 10px 10px #fff490;
    width: auto;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: #fff490;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 112, 112);


}
.header__par-change {
    box-shadow: 2px 2px 10px 10px #fff490;
    width: auto;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: #fff490;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 112, 112);
}
.header__title {
    margin-left: 10px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
.header__list {

}
.header__li {
    color: rgb(33, 114, 185);
    margin-top: 20px;
    width: auto;
    margin-right: 30px;
    font-size: 20px;
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.header__li-span {
    font-weight: bold;
    font-size: 25px;
    color: rgb(68, 68, 68);
}
.header__img {
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}
.img-alt {
    margin-top: 10px;
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer {
    margin-top: 50px;
    background-color: rgb(43, 43, 43);
}
.footer__name {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}
.footer__par {
    
    color: #797979;
    text-align: center;
    line-height: 1.5;
    padding: 10px 0px;
}
.header__card {
    display: flex;
    justify-content: space-between;
}
.header__left-card {

}
.header__right-card {

}
.header__par-2img {
    height: 200px;
    margin-top: 70px;
    margin-right: 20px;
}
.header__par-img {
    height: 200px;
    margin-top: 70px;
    margin-right: 100px;
}
.header__par-fact {
    box-shadow: 2px 2px 10px 10px #fff490;
    width: 500px;
    padding: 10px 20px;
    background-color: #fff490;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 112, 112);
}
.header__bar-nav {
    display: none;
    margin-top: 50px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #353535;
    overflow-x: hidden;

}
.header__bar-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-top: 10px;
    transition: 0.1s;
}
.header__par-fact {
    width: auto;
    margin-right: 30px;
}







@media (max-width:1250px) {
    .header__logo {
        width: 50px;
        height: 50px;
        margin-top: 7px;
    }
    .left__nav {
        margin-top: 67px;
    }
}
@media (max-width:1200px) {
    .header__link {
        margin-right: 10px;
    }
}
@media(max-width:1030px) {
    .header__par-2img {
        margin-right: 5px;
    }
    .header__par-img {
        margin-right: 5px;
    }
    #facts {
        display: none;
    }
    .header__par {
        margin: 20px auto;
    }
    .header__par-change {
        margin: 20px auto;
    }
    .header__par-fact {
        margin: 20px auto;
    }
    .left__nav {
        width: 150px;
    }
    .content {
        margin-left: 150px;
    }
}
@media (max-width:900px) {
    .header__logo {
        margin-left: 10px;
    }
    .header__link {
        margin-right: 0px;
    }
}
@media (max-width:850px) {
    .header__section {
        font-size: 35px;
    }
    .header__par {
        font-size: 18px;
    }.header__par-change {
        font-size: 18px;
    }.header__par-fact {
        font-size: 18px;
    }
    .header__img {
        width: 500px;
    }
    .img-alt {
        font-size: 20px;
    }
}
@media (max-width:800px) {
    .header__li-span {
        font-size: 25px;
    }
    .header__link {
        display: none;
    }
    .content {
        margin-top: 50px;
    }
    .left__nav {
        margin-top: 50px;
    }
    .header__logo {
        margin-top: 0px;
    }
    .header__bar {
        display: block;
        font-size: 25px;
        margin: 10px 20px 0px 0px;
    }
    .header__cross {
        font-size: 25px;
        margin: 10px 20px 0px 0px;
    }
}
@media (max-width:700px) {
    .header__card {
        display: block;
    }
    .header__par-2img {
        display: block;
        height: 300px;
        width: auto;
        margin-right: 20px;
        margin: auto;
        margin-top: 20px;
    }
    .header__par-img {
        display: block;
        margin: auto;
    }
    .left {
        display: none;
    }
    .content {
        margin-left: 0px;
    }
}
@media (max-width: 600px) {
    .header__img {
        width: 400px;
    }
    .header__par {
        font-size: 18px;
    }.header__par-change {
        font-size: 18px;
    }.header__par-fact {
        font-size: 18px;
    }
    .header__title {
        font-size: 22px;
    }
    .header__li {
        font-size: 18px;
    }
    .header__li-span {
        font-size: 20px;
    }

}
@media (max-width:450px) {
    .header__section {
        font-size: 23px;
    }
    .header__par {
        font-size: 15px;
    }.header__par-change {
        font-size: 15px;
    }.header__par-fact {
        font-size: 15px;
    }
    .img-alt {
        font-size: 15px;
    }
    .header__title {
        font-size: 18px;
    }
    .header__img {
        width: 250px;
    }
    .header__li {
        font-size: 15px;
    }
    .header__li-span {
        font-size: 18px;
    }
    .footer__name {
        font-size: 15px;
    }
    .footer__par {
        font-size: 15px;
    }
}
@media (max-width:350px) {
    .header__li {
        margin-left: 20px;
    }
    .footer__name {
        font-size: 13px;
    }
    .footer__par {
        font-size: 13px;
    }
}